---
import educationItems from "../../data/education.json";

import EducationItem from "./education-item.astro";
---

<section class="space-y-4" id="education">
  <h2 class="font-bold text-3xl">Education</h2>
  <ul class="space-y-4">
    {
      educationItems.map((item) => (
        <li>
          <EducationItem item={item} />
        </li>
      ))
    }
  </ul>
</section>
