---
import "@fontsource/geist-mono";

import Navbar from "../components/ui/navbar.astro";
import HeaderSection from "../components/header/header-section.astro";
import ProjectsSection from "../components/projects/projects-section.astro";
import EducationSection from "../components/education/education-section.astro";

const title = "Pedro Chaparro's portfolio";
const description =
  "Pedro Chaparro is a informatics and computing engineer with special interest in full-stack web development. Explore his portfolio to know more about him and his experience, projects and education.";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- TODO: Add og tags -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-50 max-w-3xl mx-auto p-8 pb-36 sm:pb-28">
    <Navbar />
    <main class="text-primary space-y-8">
      <HeaderSection />
      <ProjectsSection />
      <EducationSection />
    </main>
    <script
      defer
      src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"
    ></script>
  </body>
</html>
