---
import headerData from "../../data/header.json";
const { full_name, bio_content, socials } = headerData;

import Paragraph from "../ui/paragraph.astro";
import SocialBadge from "../ui/social-badge.astro";
---

<header class="flex flex-col space-y-4">
  <h1 class="font-bold text-4xl">Pedro Chaparro</h1>
  {bio_content.map((content) => <Paragraph>{content}</Paragraph>)}
  <ul class="text-primary flex gap-4">
    {
      socials.map((social) => (
        <li>
          <SocialBadge iconName={social.iconName} url={social.url} />
        </li>
      ))
    }
  </ul>
</header>
