---
const navigationItems = [
  { text: "About", href: "#about" },
  { text: "Education", href: "#education" }
];
---

<nav
  class="fixed bottom-8 left-1/2 -translate-x-1/2 z-50 border border-primary/15 rounded-lg shadow-md overflow-hidden animate-fade"
>
  <ul class="flex text-primary/85 flex-wrap">
    {
      navigationItems.map((item) => (
        <li class="transition-colors hover:text-primary hover:bg-primary/5 text-sm">
          <a class="inline-block p-4" href={item.href}>
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
