---
interface Props {
  className?: string;
  size?: "md" | "lg";
}

const sizeClasses = {
  md: "text-md",
  lg: "text-lg"
};

const { className, size = "lg" } = Astro.props;
---

<p
  class:list={[
    "text-pretty text-primary/75 leading-relaxed",
    sizeClasses[size],
    className
  ]}
>
  <slot />
</p>
